onlyBuiltDependencies[]=@biomejs/biome
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
