@import "tailwindcss";
@config "../../tailwind.config.js";

/* DEFAULT THEME */
:root {
  --brand-primary: #EC4815;
  --brand-primary-hover: #D13F13;
  --brand-primary-light: #FFEDE4;
  --brand-primary-text: #D13F13;
  --brand-primary-contrast: #7a230b;

  --brand-primary-gradient-start: #FF724B;
  --brand-primary-gradient-end: #D13F13;

  --brand-secondary: #0084FF;
  --brand-secondary-hover: #0574E4;
  --brand-secondary-light: #DCEEFF;
  --brand-secondary-text: #0574e4;
  --brand-secondary-contrast: #1d2c6c;

  --brand-secondary-gradient-start: #4EABFE;
  --brand-secondary-gradient-end: #0574E4;

  --brand-tertiary: #93E9BE;
  --brand-tertiary-hover: #72c39b;
  --brand-tertiary-light: #EEFDF9;
  --brand-tertiary-text: #39745c;
  --brand-tertiary-contrast: #214c3d;

  --brand-tertiary-gradient-start:  #B4EFD9;
  --brand-tertiary-gradient-end: #72C39b;

  --glass-gradient-start: rgba(255, 255, 255, 0.1);
  --glass-gradient-end: rgba(255, 255, 255, 0.4);

  --neutral-background: #F8FAFC;
  --neutral-background-secondary: #F1F5F9;
  --neutral-surface: #FFFFFF;
  --neutral-text: #0f172a;
  --neutral-text-secondary: #64748b;
  --neutral-border: #CBD5E1;
  --neutral-border-subtle: #e2e8f0;

  --background-color: #e4f6f9;
  --glass-hover-gradient-start: oklch(98.5% 0 0);
  --glass-hover-gradient-end: oklch(95.6% 0.045 203.388);
}

.dark {
  --brand-primary: #FF6A2D;
  --brand-primary-hover: #FF814C;
  --brand-primary-light: #7a230b;
  --brand-primary-text: #FF6a2d;
  --brand-primary-contrast: #FFAB8B;

  --brand-primary-gradient-start: #FFAB8B;
  --brand-primary-gradient-end: #D13F13;

  --brand-secondary: #5a9cff;
  --brand-secondary-hover: #7fb2ff;
  --brand-secondary-light: #144696;
  --brand-secondary-text: #82b4ff;
  --brand-secondary-contrast: #dceefd;

  --brand-secondary-gradient-start: #85C5FE;
  --brand-secondary-gradient-end: #0574E4;

  --brand-tertiary: #6ee7cb;
  --brand-tertiary-hover: #102a24;
  --brand-tertiary-light: #529c7b;
  --brand-tertiary-text: #c1f5eb;
  --brand-tertiary-contrast: #e9fbf4;

  --brand-tertiary-gradient-start:  #9FE2BF;
  --brand-tertiary-gradient-end: #6AC09A;

  --glass-gradient-start: rgba(255, 255, 255, 0.03);
  --glass-gradient-end: rgba(30, 41, 59, 0.23);

  --neutral-background: #0f172a;
  --neutral-surface: #1A202C;
  --neutral-background-secondary: #1F2937;
  --neutral-background-tertiary: #1A202C;
  --neutral-text: #F9FAFB;
  --neutral-text-secondary: #9CA3AF;
  --neutral-border: #4B5563;
  --neutral-border-subtle: #64748b;

  --background-color: #051619;
}

/* MONOCHROME THEME */
.theme-monochrome {
  /* Tailwind Slate's */
  --brand-primary: #0f172a;
  --brand-primary-hover: #334155;
  --brand-primary-light: #64748b;
  --brand-primary-text: #0f172a;
  --brand-primary-contrast: #334155;

  --brand-primary-gradient-start: #0f172a;
  --brand-primary-gradient-end: #0f172a;

  --brand-secondary: #0f172a;
  --brand-secondary-hover: #334155;
  --brand-secondary-light: #b5becd;
  --brand-secondary-text: #0f172a;
  --brand-secondary-contrast: #334155;

  --brand-secondary-gradient-start: #0f172a;
  --brand-secondary-gradient-end: #0f172a;

  --brand-tertiary: #0f172a;
  --brand-tertiary-hover: #334155;
  --brand-tertiary-light: #64748b;
  --brand-tertiary-text: #0f172a;
  --brand-tertiary-contrast: #334155;

  --brand-tertiary-gradient-start:  #0f172a;
  --brand-tertiary-gradient-end: #0f172a;

  --glass-gradient-start: rgba(255, 255, 255, 0.1);
  --glass-gradient-end: rgba(255, 255, 255, 0.4);

  --neutral-background: #F8FAFC;
  --neutral-background-secondary: #F1F5F9;
  --neutral-surface: #FFFFFF;
  --neutral-text: #3E4342;
  --neutral-text-secondary: #64748B;
  --neutral-border: #CBD5E1;
  --neutral-border-subtle: #e2e8f0;

  --background-color: #f8fafc;
}

.theme-monochrome.dark {
  --brand-primary: #f1f5f9;
  --brand-primary-hover: #94a3b8;
  --brand-primary-light: #cbd5e1;
  --brand-primary-text: #f1f5f9;
  --brand-primary-contrast: #f1f5f9;

  --brand-primary-gradient-start: #f1f5f9;
  --brand-primary-gradient-end: #f1f5f9;

  --brand-secondary: #f1f5f9;
  --brand-secondary-hover: #94a3b8;
  --brand-secondary-light: #4b4f53;
  --brand-secondary-text: #f1f5f9;
  --brand-secondary-contrast: #f1f5f9;

  --brand-secondary-gradient-start: #f1f5f9;
  --brand-secondary-gradient-end: #f1f5f9;

  --brand-tertiary: #f1f5f9;
  --brand-tertiary-hover: #94a3b8;
  --brand-tertiary-light: #cbd5e1;
  --brand-tertiary-text: #f1f5f9;
  --brand-tertiary-contrast: #f1f5f9;

  --brand-tertiary-gradient-start:  #f1f5f9;
  --brand-tertiary-gradient-end: #f1f5f9;

  --glass-gradient-start: rgba(255, 255, 255, 0.03);
  --glass-gradient-end: rgba(30, 41, 59, 0.23);

  --neutral-background: #0f172a;
  --neutral-surface: #1A202C;
  --neutral-background-secondary: #1F2937;
  --neutral-text: #F9FAFB;
  --neutral-text-secondary: #9CA3AF;
  --neutral-border: #3b1e27;
  --neutral-border-subtle: #64748b;

  --background-color: #020617;
}

.theme-blossom {
  --brand-primary: #EC003F;
  --brand-primary-hover: #C70036;
  --brand-primary-light: #FFE4E6;
  --brand-primary-text: #C70036;

  --brand-secondary: #EC4455;
  --brand-secondary-hover: #C70036;
  --brand-secondary-light: #FEC0D3;
  --brand-secondary-text: #C70036;

  --brand-tertiary: #EC003F;
  --brand-tertiary-hover: #C70036;
  --brand-tertiary-light: #FFE4E6;
  --brand-tertiary-text: #C70036;

  --neutral-background: #FFF1F3;
  --neutral-background-secondary: #FDE8EB;
  --neutral-surface: #FFFFFF;
  --neutral-text: #3E4342;
  --neutral-text-secondary: #64748B;
  --neutral-border: #FEC0D3;
  --neutral-border-subtle: #FFE4E6;

  --background-color: #FFF1F3;
}

.theme-blossom.dark {
  --brand-primary: #FFE4E6;
  --brand-primary-hover: #FEC0D3;
  --brand-primary-light: #EC4455;
  --brand-primary-text: #FFE4E6;

  --brand-secondary: #FFE4E6;
  --brand-secondary-hover: #FEC0D3;
  --brand-secondary-light: #EC003F;
  --brand-secondary-text: #FFE4E6;

  --brand-tertiary: #FFE4E6;
  --brand-tertiary-hover: #FEC0D3;
  --brand-tertiary-light: #EC4455;
  --brand-tertiary-text: #FFE4E6;

  --neutral-background: #1F1B1D;
  --neutral-background-secondary: #2D2327;
  --neutral-surface: #31272B;
  --neutral-text: #F9FAFB;
  --neutral-text-secondary: #FEC0D3;
  --neutral-border: #FEC0D3;
  --neutral-border-subtle: #EC4455;

  --background-color: #1F1B1D;
}

.theme-lake {
  --brand-primary: #0EA5E9;
  --brand-primary-hover: #0369A1;
  --brand-primary-light: #E0F2FE;
  --brand-primary-text: #0369A1;

  --brand-secondary: #74D4FF;
  --brand-secondary-hover: #0369A1;
  --brand-secondary-light: #E0F2FE;
  --brand-secondary-text: #0369A1;

  --brand-tertiary: #0EA5E9;
  --brand-tertiary-hover: #0369A1;
  --brand-tertiary-light: #E0F2FE;
  --brand-tertiary-text: #0369A1;

  --neutral-background: #F0F9FF;
  --neutral-background-secondary: #E0F2FE;
  --neutral-surface: #FFFFFF;
  --neutral-text: #0F172A;
  --neutral-text-secondary: #64748B;
  --neutral-border: #BAE6FD;
  --neutral-border-subtle: #E0F2FE;

  --background-color: #F0F9FF;
}

.theme-lake.dark {
  --brand-primary: #E0F2FE;
  --brand-primary-hover: #74D4FF;
  --brand-primary-light: #0EA5E9;
  --brand-primary-text: #E0F2FE;

  --brand-secondary: #E0F2FE;
  --brand-secondary-hover: #74D4FF;
  --brand-secondary-light: #0EA5E9;
  --brand-secondary-text: #E0F2FE;

  --brand-tertiary: #E0F2FE;
  --brand-tertiary-hover: #74D4FF;
  --brand-tertiary-light: #0EA5E9;
  --brand-tertiary-text: #E0F2FE;

  --neutral-background: #0F172A;
  --neutral-background-secondary: #1E293B;
  --neutral-surface: #1E3A5F;
  --neutral-text: #F1F5F9;
  --neutral-text-secondary: #93C5FD;
  --neutral-border: #60A5FA;
  --neutral-border-subtle: #0EA5E9;

  --background-color: #0F172A;
}

.theme-pine {
  --brand-primary: #4AEF9B; /* green/600 */
  --brand-primary-hover: #15C38D; /* green/700 */
  --brand-primary-light: #E0FDF9; /* Seafoam/50 */
  --brand-primary-text: #1F432D; /* green/900 */

  --brand-secondary: #6366F1; /* indigo/600 */
  --brand-secondary-hover: #7C70E5; /* indigo/700 */
  --brand-secondary-light: #E0E7FF; /* indigo/200 */
  --brand-secondary-text: #312E81; /* indigo/900 */

  --brand-tertiary: #4AEF9B;
  --brand-tertiary-hover: #15C38D;
  --brand-tertiary-light: #E0FDF9;
  --brand-tertiary-text: #1F432D;

  --neutral-background: #F0FFF4;
  --neutral-background-secondary: #DCFCE7;
  --neutral-surface: #FFFFFF;
  --neutral-text: #14532D;
  --neutral-text-secondary: #6EE7B7;
  --neutral-border: #34D399;
  --neutral-border-subtle: #D1FAE5;

  --background-color: #F0FFF4;
}

.theme-pine.dark {
  --brand-primary: #E0FDF9;
  --brand-primary-hover: #6EE7B7;
  --brand-primary-light: #34D399;
  --brand-primary-text: #E0FDF9;

  --brand-secondary: #E0E7FF;
  --brand-secondary-hover: #7C70E5;
  --brand-secondary-light: #6366F1;
  --brand-secondary-text: #E0E7FF;

  --brand-tertiary: #E0FDF9;
  --brand-tertiary-hover: #6EE7B7;
  --brand-tertiary-light: #34D399;
  --brand-tertiary-text: #E0FDF9;

  --neutral-background: #052E16;
  --neutral-background-secondary: #064E3B;
  --neutral-surface: #065F46;
  --neutral-text: #D1FAE5;
  --neutral-text-secondary: #6EE7B7;
  --neutral-border: #10B981;
  --neutral-border-subtle: #34D399;

  --background-color: #052E16;
}

.theme-pine-green {
  --brand-primary: #4AEF9B; /* green/600 */
  --brand-primary-hover: #15C38D; /* green/700 */
  --brand-primary-light: #E0FDF9; /* Seafoam/50 */
  --brand-primary-text: #1F432D; /* green/900 */

  --brand-tertiary: #34D399; /* green/500 */
  --brand-tertiary-hover: #15803D; /* green/700 */
  --brand-tertiary-light: #BBF7D0; /* green/200 */
  --brand-tertiary-text: #14532D; /* green/800 */

  --neutral-background: #F0FFF4;
  --neutral-background-secondary: #DCFCE7;
  --neutral-surface: #FFFFFF;
  --neutral-text: #14532D;
  --neutral-text-secondary: #6EE7B7;
  --neutral-border: #34D399;
  --neutral-border-subtle: #D1FAE5;

  --background-color: #F0FFF4;
}

.theme-pine-green.dark {
  --brand-primary: #E0FDF9;
  --brand-primary-hover: #6EE7B7;
  --brand-primary-light: #34D399;
  --brand-primary-text: #E0FDF9;

  --brand-tertiary: #E0FDF9;
  --brand-tertiary-hover: #6EE7B7;
  --brand-tertiary-light: #34D399;
  --brand-tertiary-text: #E0FDF9;

  --neutral-background: #052E16;
  --neutral-background-secondary: #064E3B;
  --neutral-surface: #065F46;
  --neutral-text: #D1FAE5;
  --neutral-text-secondary: #6EE7B7;
  --neutral-border: #10B981;
  --neutral-border-subtle: #34D399;

  --background-color: #052E16;
}

.theme-pine-indigo {
  --brand-primary: #6366F1; /* indigo/600 */
  --brand-primary-hover: #7C70E5; /* indigo/700 */
  --brand-primary-light: #E0E7FF; /* indigo/200 */
  --brand-primary-text: #312E81; /* indigo/900 */

  --brand-tertiary: #6366F1; /* indigo/500 */
  --brand-tertiary-hover: #7C70E5; /* indigo/700 */
  --brand-tertiary-light: #E0E7FF; /* indigo/200 */
  --brand-tertiary-text: #312E81; /* indigo/900 */

  --neutral-background: #EEF2FF;
  --neutral-background-secondary: #E0E7FF;
  --neutral-surface: #FFFFFF;
  --neutral-text: #1E1B4B;
  --neutral-text-secondary: #A5B4FC;
  --neutral-border: #C7D2FE;
  --neutral-border-subtle: #E0E7FF;

  --background-color: #EEF2FF;
}

.theme-pine-indigo.dark {
  --brand-primary: #E0E7FF;
  --brand-primary-hover: #A5B4FC;
  --brand-primary-light: #6366F1;
  --brand-primary-text: #E0E7FF;

  --brand-tertiary: #E0E7FF;
  --brand-tertiary-hover: #A5B4FC;
  --brand-tertiary-light: #6366F1;
  --brand-tertiary-text: #E0E7FF;

  --neutral-background: #1E1B4B;
  --neutral-background-secondary: #312E81;
  --neutral-surface: #3730A3;
  --neutral-text: #F5F3FF;
  --neutral-text-secondary: #A5B4FC;
  --neutral-border: #6366F1;
  --neutral-border-subtle: #A5B4FC;

  --background-color: #1E1B4B;
}



/* Shared styles */
.brand-primary-gradient {
  background-image: linear-gradient(to bottom right, var(--brand-primary-gradient-start), var(--brand-primary-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand-secondary-gradient {
  background-image: linear-gradient(to bottom right, var(--brand-secondary-gradient-start), var(--brand-secondary-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand-tertiary-gradient {
  background-image: linear-gradient(to bottom right, var(--brand-tertiary-gradient-start), var(--brand-tertiary-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.brand-glass-gradient {
  background-image: linear-gradient(to bottom right, var(--glass-gradient-start), var(--glass-gradient-end));
}

.brand-glass-hover-gradient {
  background-image: linear-gradient(to bottom right, var(--glass-hover-gradient-start), var(--glass-hover-gradient-end));
}

.brand-background-gradient {
  background-image: linear-gradient(to bottom right, var(--background-primary-gradient-start), var(--background-primary-gradient-end)); 
}

.neutral-surface-bg {
  background-color: var(--neutral-surface);
}









.tina-gradient {
  @apply bg-gradient-to-br from-orange-400 via-orange-500 to-orange-600 bg-clip-text text-transparent
}

@theme {
  --color-ochre-400: #FF724B;
  --color-ochre-500: #D13F13;
  --color-ochre-600: #FE642C;
  --color-ochre-700: #EC4815;
  --color-ochre-800: #C73D15;
  --color-seafoam-light: #EEFDF9;
  --color-seafoam: #CFFAFE;
  --color-disabled-gray: #6B7280;
  --color-grayblue: #17518C;
  --color-deepblue: #1D2C6C;
  --color-neutral: #111827;
  --color-neutral-light: #6B7280;
  --color-neutral-border: #D1D5DB;
  --font-inter: "Inter", sans-serif;
}

mark {
  background-color: var(--brand-primary-light);
  font-weight: bold;
}


