pre.shiki {
  counter-reset: line;
}

.shiki .diff.add {
  background-color: #003800;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.shiki .diff.remove {
  background-color: #380000;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.shiki .line.diff.add::before {
  color: #3dd68c;
}

.shiki .line.diff.remove::before {
  color: #cb7676;
}

.shiki .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 2em;
  margin-right: 1em;
  text-align: right;
  color: #6e7681;
}

.shiki .line.highlighted {
  background-color: #2d2a55;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.shiki.has-focused .line:not(.focused) {
  opacity: 0.4;
  filter: grayscale(0.3);
  transition: opacity 0.2s, filter 0.2s;
}

.shiki pre {
  background-color: var(--neutral-background-quinary) !important;
}
